Redapt/CdrProcessor/Service References/CdrDbSvcSoap/CdrDbSvc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetCdrsForServiceProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="serviceProvider" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCdrsForServiceProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCdrsForServiceProviderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCdrsForPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="thePhoneNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCdrsForPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCdrsForPhoneNumberResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBillableCdrsForPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="thePhoneNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBillableCdrsForPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBillableCdrsForPhoneNumberResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateRangeCdrsForPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="thePhoneNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="endDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDateRangeCdrsForPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDateRangeCdrsForPhoneNumberResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCdrsForPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="thePhoneNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCdrsForPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCdrsForPhoneNumberResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCdrsForGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCdrsForGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCdrsForGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCdrsForGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCdrsForGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCdrsForGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetCdrsForServiceProviderSoapIn">
    <wsdl:part name="parameters" element="tns:GetCdrsForServiceProvider" />
  </wsdl:message>
  <wsdl:message name="GetCdrsForServiceProviderSoapOut">
    <wsdl:part name="parameters" element="tns:GetCdrsForServiceProviderResponse" />
  </wsdl:message>
  <wsdl:message name="GetCdrsForPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetCdrsForPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="GetCdrsForPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetCdrsForPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetBillableCdrsForPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetBillableCdrsForPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="GetBillableCdrsForPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetBillableCdrsForPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetDateRangeCdrsForPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetDateRangeCdrsForPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="GetDateRangeCdrsForPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetDateRangeCdrsForPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCdrsForPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCdrsForPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="GetAllCdrsForPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCdrsForPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="GetCdrsForGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetCdrsForGroup" />
  </wsdl:message>
  <wsdl:message name="GetCdrsForGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetCdrsForGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCdrsForGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCdrsForGroup" />
  </wsdl:message>
  <wsdl:message name="GetAllCdrsForGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCdrsForGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="CdrDbSvcSoap">
    <wsdl:operation name="GetCdrsForServiceProvider">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get CDRs from a Subsystem starting from startdate to NOW</wsdl:documentation>
      <wsdl:input message="tns:GetCdrsForServiceProviderSoapIn" />
      <wsdl:output message="tns:GetCdrsForServiceProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCdrsForPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the billable CDRs from a specific phone number from startdate to NOW, deprecated</wsdl:documentation>
      <wsdl:input message="tns:GetCdrsForPhoneNumberSoapIn" />
      <wsdl:output message="tns:GetCdrsForPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBillableCdrsForPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the billable CDRs from a specific phone number from startdate to NOW</wsdl:documentation>
      <wsdl:input message="tns:GetBillableCdrsForPhoneNumberSoapIn" />
      <wsdl:output message="tns:GetBillableCdrsForPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDateRangeCdrsForPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the billable CDRs from a specific phone number from StartDate to EndDate</wsdl:documentation>
      <wsdl:input message="tns:GetDateRangeCdrsForPhoneNumberSoapIn" />
      <wsdl:output message="tns:GetDateRangeCdrsForPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCdrsForPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get all CDRs from a specific phone number from startdate to NOW</wsdl:documentation>
      <wsdl:input message="tns:GetAllCdrsForPhoneNumberSoapIn" />
      <wsdl:output message="tns:GetAllCdrsForPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCdrsForGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get billable CDRs for a group starting from startdate to NOW</wsdl:documentation>
      <wsdl:input message="tns:GetCdrsForGroupSoapIn" />
      <wsdl:output message="tns:GetCdrsForGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCdrsForGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get all CDRs from a Group starting from startdate to NOW</wsdl:documentation>
      <wsdl:input message="tns:GetAllCdrsForGroupSoapIn" />
      <wsdl:output message="tns:GetAllCdrsForGroupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CdrDbSvcSoap" type="tns:CdrDbSvcSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCdrsForServiceProvider">
      <soap:operation soapAction="http://tempuri.org/GetCdrsForServiceProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCdrsForPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/GetCdrsForPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillableCdrsForPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/GetBillableCdrsForPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateRangeCdrsForPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/GetDateRangeCdrsForPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCdrsForPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/GetAllCdrsForPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCdrsForGroup">
      <soap:operation soapAction="http://tempuri.org/GetCdrsForGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCdrsForGroup">
      <soap:operation soapAction="http://tempuri.org/GetAllCdrsForGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CdrDbSvcSoap12" type="tns:CdrDbSvcSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCdrsForServiceProvider">
      <soap12:operation soapAction="http://tempuri.org/GetCdrsForServiceProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCdrsForPhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/GetCdrsForPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBillableCdrsForPhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/GetBillableCdrsForPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateRangeCdrsForPhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/GetDateRangeCdrsForPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCdrsForPhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/GetAllCdrsForPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCdrsForGroup">
      <soap12:operation soapAction="http://tempuri.org/GetCdrsForGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCdrsForGroup">
      <soap12:operation soapAction="http://tempuri.org/GetAllCdrsForGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CdrDbSvc">
    <wsdl:port name="CdrDbSvcSoap" binding="tns:CdrDbSvcSoap">
      <soap:address location="http://cdr.strata8.com/CdrDbSvc/CdrDbSvc.asmx" />
    </wsdl:port>
    <wsdl:port name="CdrDbSvcSoap12" binding="tns:CdrDbSvcSoap12">
      <soap12:address location="http://cdr.strata8.com/CdrDbSvc/CdrDbSvc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>