DIDTools/WCIDIDParserApp/WCIDIDParser/Service References/DidServiceReference/DidService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetServiceProviders">
        <s:complexType />
      </s:element>
      <s:element name="GetServiceProvidersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServiceProvidersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroups">
        <s:complexType />
      </s:element>
      <s:element name="GetGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGroupsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhoneNumberStates">
        <s:complexType />
      </s:element>
      <s:element name="GetPhoneNumberStatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhoneNumberStatesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCarriers">
        <s:complexType />
      </s:element>
      <s:element name="GetCarriersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCarriersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPhoneNumberTypes">
        <s:complexType />
      </s:element>
      <s:element name="GetPhoneNumberTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPhoneNumberTypesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccessDeviceList">
        <s:complexType />
      </s:element>
      <s:element name="GetAccessDeviceListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccessDeviceListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetServicePackList">
        <s:complexType />
      </s:element>
      <s:element name="GetServicePackListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetServicePackListResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIDsForServiceProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theSP" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIDsForServiceProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDIDsForServiceProviderResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIDsOfType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="typeID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIDsOfTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDIDsOfTypeResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIDsForGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIDsForGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDIDsForGroupResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableDIDsByCarrier">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="carrierId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableDIDsByCarrierResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableDIDsByCarrierResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theDID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableDIDsByNPA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="theNPA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableDIDsByNPAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableDIDsByNPAResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableDIDsByNPANXX">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="thenpa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="thenxx" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableDIDsByNPANXXResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableDIDsByNPANXXResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDIDState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="did" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="stateId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDIDStateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDIDStateResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPhoneNumberToServiceProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPhoneNumberToServiceProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignPhoneNumberToServiceProviderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPhoneNumberToServiceProviderGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPhoneNumberToServiceProviderGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignPhoneNumberToServiceProviderGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPhoneNumberRangeToServiceProviderGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endingPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPhoneNumberRangeToServiceProviderGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignPhoneNumberRangeToServiceProviderGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPhoneNumberRangeToServiceProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endingPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignPhoneNumberRangeToServiceProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AssignPhoneNumberRangeToServiceProviderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePhoneNumberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrierId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPhoneNumberResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberToServiceProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrierId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberToServiceProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPhoneNumberToServiceProviderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberToServiceProviderGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrierId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberToServiceProviderGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPhoneNumberToServiceProviderGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endingPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrierId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPhoneNumberRangeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberRangeToServiceProvider">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endingPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrierId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberRangeToServiceProviderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPhoneNumberRangeToServiceProviderResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberRangeToServiceProviderGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endingPhoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="carrierId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="spId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPhoneNumberRangeToServiceProviderGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPhoneNumberRangeToServiceProviderGroupResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePhoneNumberRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="endingPhoneNumber" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePhoneNumberRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeletePhoneNumberRangeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadDidsViaFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoadDidsViaFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoadDidsViaFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetServiceProvidersSoapIn">
    <wsdl:part name="parameters" element="tns:GetServiceProviders" />
  </wsdl:message>
  <wsdl:message name="GetServiceProvidersSoapOut">
    <wsdl:part name="parameters" element="tns:GetServiceProvidersResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroups" />
  </wsdl:message>
  <wsdl:message name="GetGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhoneNumberStatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhoneNumberStates" />
  </wsdl:message>
  <wsdl:message name="GetPhoneNumberStatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhoneNumberStatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetCarriersSoapIn">
    <wsdl:part name="parameters" element="tns:GetCarriers" />
  </wsdl:message>
  <wsdl:message name="GetCarriersSoapOut">
    <wsdl:part name="parameters" element="tns:GetCarriersResponse" />
  </wsdl:message>
  <wsdl:message name="GetPhoneNumberTypesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPhoneNumberTypes" />
  </wsdl:message>
  <wsdl:message name="GetPhoneNumberTypesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPhoneNumberTypesResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccessDeviceListSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccessDeviceList" />
  </wsdl:message>
  <wsdl:message name="GetAccessDeviceListSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccessDeviceListResponse" />
  </wsdl:message>
  <wsdl:message name="GetServicePackListSoapIn">
    <wsdl:part name="parameters" element="tns:GetServicePackList" />
  </wsdl:message>
  <wsdl:message name="GetServicePackListSoapOut">
    <wsdl:part name="parameters" element="tns:GetServicePackListResponse" />
  </wsdl:message>
  <wsdl:message name="GetDIDsForServiceProviderSoapIn">
    <wsdl:part name="parameters" element="tns:GetDIDsForServiceProvider" />
  </wsdl:message>
  <wsdl:message name="GetDIDsForServiceProviderSoapOut">
    <wsdl:part name="parameters" element="tns:GetDIDsForServiceProviderResponse" />
  </wsdl:message>
  <wsdl:message name="GetDIDsOfTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetDIDsOfType" />
  </wsdl:message>
  <wsdl:message name="GetDIDsOfTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetDIDsOfTypeResponse" />
  </wsdl:message>
  <wsdl:message name="GetDIDsForGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetDIDsForGroup" />
  </wsdl:message>
  <wsdl:message name="GetDIDsForGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetDIDsForGroupResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableDIDsByCarrierSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableDIDsByCarrier" />
  </wsdl:message>
  <wsdl:message name="GetAvailableDIDsByCarrierSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableDIDsByCarrierResponse" />
  </wsdl:message>
  <wsdl:message name="GetDIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetDID" />
  </wsdl:message>
  <wsdl:message name="GetDIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetDIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableDIDsByNPASoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableDIDsByNPA" />
  </wsdl:message>
  <wsdl:message name="GetAvailableDIDsByNPASoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableDIDsByNPAResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableDIDsByNPANXXSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableDIDsByNPANXX" />
  </wsdl:message>
  <wsdl:message name="GetAvailableDIDsByNPANXXSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableDIDsByNPANXXResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDIDStateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDIDState" />
  </wsdl:message>
  <wsdl:message name="UpdateDIDStateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDIDStateResponse" />
  </wsdl:message>
  <wsdl:message name="AssignPhoneNumberToServiceProviderSoapIn">
    <wsdl:part name="parameters" element="tns:AssignPhoneNumberToServiceProvider" />
  </wsdl:message>
  <wsdl:message name="AssignPhoneNumberToServiceProviderSoapOut">
    <wsdl:part name="parameters" element="tns:AssignPhoneNumberToServiceProviderResponse" />
  </wsdl:message>
  <wsdl:message name="AssignPhoneNumberToServiceProviderGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AssignPhoneNumberToServiceProviderGroup" />
  </wsdl:message>
  <wsdl:message name="AssignPhoneNumberToServiceProviderGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AssignPhoneNumberToServiceProviderGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AssignPhoneNumberRangeToServiceProviderGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AssignPhoneNumberRangeToServiceProviderGroup" />
  </wsdl:message>
  <wsdl:message name="AssignPhoneNumberRangeToServiceProviderGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AssignPhoneNumberRangeToServiceProviderGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AssignPhoneNumberRangeToServiceProviderSoapIn">
    <wsdl:part name="parameters" element="tns:AssignPhoneNumberRangeToServiceProvider" />
  </wsdl:message>
  <wsdl:message name="AssignPhoneNumberRangeToServiceProviderSoapOut">
    <wsdl:part name="parameters" element="tns:AssignPhoneNumberRangeToServiceProviderResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePhoneNumber" />
  </wsdl:message>
  <wsdl:message name="DeletePhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberToServiceProviderSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberToServiceProvider" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberToServiceProviderSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberToServiceProviderResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberToServiceProviderGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberToServiceProviderGroup" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberToServiceProviderGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberToServiceProviderGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberRangeSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberRange" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberRangeSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberRangeResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberRangeToServiceProviderSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberRangeToServiceProvider" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberRangeToServiceProviderSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberRangeToServiceProviderResponse" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberRangeToServiceProviderGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberRangeToServiceProviderGroup" />
  </wsdl:message>
  <wsdl:message name="AddPhoneNumberRangeToServiceProviderGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddPhoneNumberRangeToServiceProviderGroupResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePhoneNumberRangeSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePhoneNumberRange" />
  </wsdl:message>
  <wsdl:message name="DeletePhoneNumberRangeSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePhoneNumberRangeResponse" />
  </wsdl:message>
  <wsdl:message name="LoadDidsViaFileSoapIn">
    <wsdl:part name="parameters" element="tns:LoadDidsViaFile" />
  </wsdl:message>
  <wsdl:message name="LoadDidsViaFileSoapOut">
    <wsdl:part name="parameters" element="tns:LoadDidsViaFileResponse" />
  </wsdl:message>
  <wsdl:portType name="DidServiceSoap">
    <wsdl:operation name="GetServiceProviders">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the list of all Service Providers on the platform</wsdl:documentation>
      <wsdl:input message="tns:GetServiceProvidersSoapIn" />
      <wsdl:output message="tns:GetServiceProvidersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the list of all Groups on the platform</wsdl:documentation>
      <wsdl:input message="tns:GetGroupsSoapIn" />
      <wsdl:output message="tns:GetGroupsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumberStates">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the list of available states that can be assigned to phone numbers on the platform</wsdl:documentation>
      <wsdl:input message="tns:GetPhoneNumberStatesSoapIn" />
      <wsdl:output message="tns:GetPhoneNumberStatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCarriers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the list of available carriers where phone numbers are obtained from</wsdl:documentation>
      <wsdl:input message="tns:GetCarriersSoapIn" />
      <wsdl:output message="tns:GetCarriersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumberTypes">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the list of available phone number types that can be assigned to phone numbers on the platform</wsdl:documentation>
      <wsdl:input message="tns:GetPhoneNumberTypesSoapIn" />
      <wsdl:output message="tns:GetPhoneNumberTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccessDeviceList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the list of available access device types that can be assigned to users on the platform</wsdl:documentation>
      <wsdl:input message="tns:GetAccessDeviceListSoapIn" />
      <wsdl:output message="tns:GetAccessDeviceListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetServicePackList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get the list of available service packes that that can be assigned to users on the platform</wsdl:documentation>
      <wsdl:input message="tns:GetServicePackListSoapIn" />
      <wsdl:output message="tns:GetServicePackListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDIDsForServiceProvider">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get DIDs assigned to a service provider</wsdl:documentation>
      <wsdl:input message="tns:GetDIDsForServiceProviderSoapIn" />
      <wsdl:output message="tns:GetDIDsForServiceProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDIDsOfType">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get DIDs of a specific type, toll-free=1, wireline=2, wireless=3</wsdl:documentation>
      <wsdl:input message="tns:GetDIDsOfTypeSoapIn" />
      <wsdl:output message="tns:GetDIDsOfTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDIDsForGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get DIDs for a Group</wsdl:documentation>
      <wsdl:input message="tns:GetDIDsForGroupSoapIn" />
      <wsdl:output message="tns:GetDIDsForGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByCarrier">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get available DIDs from one of the carriers</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableDIDsByCarrierSoapIn" />
      <wsdl:output message="tns:GetAvailableDIDsByCarrierSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDID">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get a DID</wsdl:documentation>
      <wsdl:input message="tns:GetDIDSoapIn" />
      <wsdl:output message="tns:GetDIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByNPA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get DIDs in a specific NPA</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableDIDsByNPASoapIn" />
      <wsdl:output message="tns:GetAvailableDIDsByNPASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByNPANXX">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to get DIDs in a specific NPA-NXX</wsdl:documentation>
      <wsdl:input message="tns:GetAvailableDIDsByNPANXXSoapIn" />
      <wsdl:output message="tns:GetAvailableDIDsByNPANXXSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDIDState">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to update the phone number state</wsdl:documentation>
      <wsdl:input message="tns:UpdateDIDStateSoapIn" />
      <wsdl:output message="tns:UpdateDIDStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberToServiceProvider">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to assign a phone numbers to a Service Provider</wsdl:documentation>
      <wsdl:input message="tns:AssignPhoneNumberToServiceProviderSoapIn" />
      <wsdl:output message="tns:AssignPhoneNumberToServiceProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberToServiceProviderGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to assign a phone number to a Service Provider and Group</wsdl:documentation>
      <wsdl:input message="tns:AssignPhoneNumberToServiceProviderGroupSoapIn" />
      <wsdl:output message="tns:AssignPhoneNumberToServiceProviderGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberRangeToServiceProviderGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to assign a range of phone numbers to a Group</wsdl:documentation>
      <wsdl:input message="tns:AssignPhoneNumberRangeToServiceProviderGroupSoapIn" />
      <wsdl:output message="tns:AssignPhoneNumberRangeToServiceProviderGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberRangeToServiceProvider">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to assign a range of phone numbers to a service provider</wsdl:documentation>
      <wsdl:input message="tns:AssignPhoneNumberRangeToServiceProviderSoapIn" />
      <wsdl:output message="tns:AssignPhoneNumberRangeToServiceProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to delete a phone number</wsdl:documentation>
      <wsdl:input message="tns:DeletePhoneNumberSoapIn" />
      <wsdl:output message="tns:DeletePhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to add a phone number</wsdl:documentation>
      <wsdl:input message="tns:AddPhoneNumberSoapIn" />
      <wsdl:output message="tns:AddPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberToServiceProvider">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to add a phone number to a service provider</wsdl:documentation>
      <wsdl:input message="tns:AddPhoneNumberToServiceProviderSoapIn" />
      <wsdl:output message="tns:AddPhoneNumberToServiceProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberToServiceProviderGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to add a phone number to a service provider and group</wsdl:documentation>
      <wsdl:input message="tns:AddPhoneNumberToServiceProviderGroupSoapIn" />
      <wsdl:output message="tns:AddPhoneNumberToServiceProviderGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to add a phone numbers within a range</wsdl:documentation>
      <wsdl:input message="tns:AddPhoneNumberRangeSoapIn" />
      <wsdl:output message="tns:AddPhoneNumberRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRangeToServiceProvider">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to assign a range of phone numbers to a service provider</wsdl:documentation>
      <wsdl:input message="tns:AddPhoneNumberRangeToServiceProviderSoapIn" />
      <wsdl:output message="tns:AddPhoneNumberRangeToServiceProviderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRangeToServiceProviderGroup">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to assign a range of phone numbers to a service provider</wsdl:documentation>
      <wsdl:input message="tns:AddPhoneNumberRangeToServiceProviderGroupSoapIn" />
      <wsdl:output message="tns:AddPhoneNumberRangeToServiceProviderGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneNumberRange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to delete a phone number range</wsdl:documentation>
      <wsdl:input message="tns:DeletePhoneNumberRangeSoapIn" />
      <wsdl:output message="tns:DeletePhoneNumberRangeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LoadDidsViaFile">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Method to bulk upload phone numbers via a .csv file format</wsdl:documentation>
      <wsdl:input message="tns:LoadDidsViaFileSoapIn" />
      <wsdl:output message="tns:LoadDidsViaFileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DidServiceSoap" type="tns:DidServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceProviders">
      <soap:operation soapAction="http://tempuri.org/GetServiceProviders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap:operation soapAction="http://tempuri.org/GetGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumberStates">
      <soap:operation soapAction="http://tempuri.org/GetPhoneNumberStates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarriers">
      <soap:operation soapAction="http://tempuri.org/GetCarriers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumberTypes">
      <soap:operation soapAction="http://tempuri.org/GetPhoneNumberTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessDeviceList">
      <soap:operation soapAction="http://tempuri.org/GetAccessDeviceList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicePackList">
      <soap:operation soapAction="http://tempuri.org/GetServicePackList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIDsForServiceProvider">
      <soap:operation soapAction="http://tempuri.org/GetDIDsForServiceProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIDsOfType">
      <soap:operation soapAction="http://tempuri.org/GetDIDsOfType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIDsForGroup">
      <soap:operation soapAction="http://tempuri.org/GetDIDsForGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByCarrier">
      <soap:operation soapAction="http://tempuri.org/GetAvailableDIDsByCarrier" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDID">
      <soap:operation soapAction="http://tempuri.org/GetDID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByNPA">
      <soap:operation soapAction="http://tempuri.org/GetAvailableDIDsByNPA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByNPANXX">
      <soap:operation soapAction="http://tempuri.org/GetAvailableDIDsByNPANXX" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDIDState">
      <soap:operation soapAction="http://tempuri.org/UpdateDIDState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberToServiceProvider">
      <soap:operation soapAction="http://tempuri.org/AssignPhoneNumberToServiceProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberToServiceProviderGroup">
      <soap:operation soapAction="http://tempuri.org/AssignPhoneNumberToServiceProviderGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberRangeToServiceProviderGroup">
      <soap:operation soapAction="http://tempuri.org/AssignPhoneNumberRangeToServiceProviderGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberRangeToServiceProvider">
      <soap:operation soapAction="http://tempuri.org/AssignPhoneNumberRangeToServiceProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneNumber">
      <soap:operation soapAction="http://tempuri.org/DeletePhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumber">
      <soap:operation soapAction="http://tempuri.org/AddPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberToServiceProvider">
      <soap:operation soapAction="http://tempuri.org/AddPhoneNumberToServiceProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberToServiceProviderGroup">
      <soap:operation soapAction="http://tempuri.org/AddPhoneNumberToServiceProviderGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRange">
      <soap:operation soapAction="http://tempuri.org/AddPhoneNumberRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRangeToServiceProvider">
      <soap:operation soapAction="http://tempuri.org/AddPhoneNumberRangeToServiceProvider" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRangeToServiceProviderGroup">
      <soap:operation soapAction="http://tempuri.org/AddPhoneNumberRangeToServiceProviderGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneNumberRange">
      <soap:operation soapAction="http://tempuri.org/DeletePhoneNumberRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDidsViaFile">
      <soap:operation soapAction="http://tempuri.org/LoadDidsViaFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DidServiceSoap12" type="tns:DidServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetServiceProviders">
      <soap12:operation soapAction="http://tempuri.org/GetServiceProviders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroups">
      <soap12:operation soapAction="http://tempuri.org/GetGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumberStates">
      <soap12:operation soapAction="http://tempuri.org/GetPhoneNumberStates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCarriers">
      <soap12:operation soapAction="http://tempuri.org/GetCarriers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPhoneNumberTypes">
      <soap12:operation soapAction="http://tempuri.org/GetPhoneNumberTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccessDeviceList">
      <soap12:operation soapAction="http://tempuri.org/GetAccessDeviceList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServicePackList">
      <soap12:operation soapAction="http://tempuri.org/GetServicePackList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIDsForServiceProvider">
      <soap12:operation soapAction="http://tempuri.org/GetDIDsForServiceProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIDsOfType">
      <soap12:operation soapAction="http://tempuri.org/GetDIDsOfType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDIDsForGroup">
      <soap12:operation soapAction="http://tempuri.org/GetDIDsForGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByCarrier">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableDIDsByCarrier" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDID">
      <soap12:operation soapAction="http://tempuri.org/GetDID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByNPA">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableDIDsByNPA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableDIDsByNPANXX">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableDIDsByNPANXX" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDIDState">
      <soap12:operation soapAction="http://tempuri.org/UpdateDIDState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberToServiceProvider">
      <soap12:operation soapAction="http://tempuri.org/AssignPhoneNumberToServiceProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberToServiceProviderGroup">
      <soap12:operation soapAction="http://tempuri.org/AssignPhoneNumberToServiceProviderGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberRangeToServiceProviderGroup">
      <soap12:operation soapAction="http://tempuri.org/AssignPhoneNumberRangeToServiceProviderGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignPhoneNumberRangeToServiceProvider">
      <soap12:operation soapAction="http://tempuri.org/AssignPhoneNumberRangeToServiceProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/DeletePhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumber">
      <soap12:operation soapAction="http://tempuri.org/AddPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberToServiceProvider">
      <soap12:operation soapAction="http://tempuri.org/AddPhoneNumberToServiceProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberToServiceProviderGroup">
      <soap12:operation soapAction="http://tempuri.org/AddPhoneNumberToServiceProviderGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRange">
      <soap12:operation soapAction="http://tempuri.org/AddPhoneNumberRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRangeToServiceProvider">
      <soap12:operation soapAction="http://tempuri.org/AddPhoneNumberRangeToServiceProvider" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPhoneNumberRangeToServiceProviderGroup">
      <soap12:operation soapAction="http://tempuri.org/AddPhoneNumberRangeToServiceProviderGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePhoneNumberRange">
      <soap12:operation soapAction="http://tempuri.org/DeletePhoneNumberRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadDidsViaFile">
      <soap12:operation soapAction="http://tempuri.org/LoadDidsViaFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DidService">
    <wsdl:port name="DidServiceSoap" binding="tns:DidServiceSoap">
      <soap:address location="http://cdr.strata8.com/DidSvc/DidService.asmx" />
    </wsdl:port>
    <wsdl:port name="DidServiceSoap12" binding="tns:DidServiceSoap12">
      <soap12:address location="http://cdr.strata8.com/DidSvc/DidService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>