Provisioning/BworksProvisioning/OCIClient_java/OCIClient/Web References/net.strata8.lab.ews1/ProvisioningService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:intf="urn:com:broadsoft:webservice" xmlns:impl="urn:com:broadsoft:webservice" targetNamespace="urn:com:broadsoft:webservice" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:com:broadsoft:webservice">
      <xsd:element name="processMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="processMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="processMessageReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="processOCIMessage">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in0" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="processOCIMessageResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="processOCIMessageReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="processMessageResponse">
    <wsdl:part name="parameters" element="impl:processMessageResponse" />
  </wsdl:message>
  <wsdl:message name="processMessageRequest">
    <wsdl:part name="parameters" element="impl:processMessage" />
  </wsdl:message>
  <wsdl:message name="processOCIMessageRequest">
    <wsdl:part name="parameters" element="impl:processOCIMessage" />
  </wsdl:message>
  <wsdl:message name="processOCIMessageResponse">
    <wsdl:part name="parameters" element="impl:processOCIMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="BWProvisioningService">
    <wsdl:operation name="processMessage">
      <wsdl:input name="processMessageRequest" message="impl:processMessageRequest" />
      <wsdl:output name="processMessageResponse" message="impl:processMessageResponse" />
    </wsdl:operation>
    <wsdl:operation name="processOCIMessage">
      <wsdl:input name="processOCIMessageRequest" message="impl:processOCIMessageRequest" />
      <wsdl:output name="processOCIMessageResponse" message="impl:processOCIMessageResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProvisioningServiceSoapBinding" type="impl:BWProvisioningService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="processMessage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="processMessageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processMessageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processOCIMessage">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="processOCIMessageRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processOCIMessageResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BWProvisioningServiceService">
    <wsdl:port name="ProvisioningService" binding="impl:ProvisioningServiceSoapBinding">
      <wsdlsoap:address location="http://ews1.lab.strata8.net/webservice/services/ProvisioningService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>